
a {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-white);
    text-decoration: none;
    margin-right: 1rem;
}

a:hover{
    color: var(--dark-text);
}

a.btn{
    border:  2px solid var(--color-white);
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 8px;
}

a.btn-dark {
    border:  2px solid var(--color-white);
    background: transparent;
}

a.btn-light {
    border:  2px transparent var(--color-white);
    background: rgb(245, 109, 109);
    color: var(--color-white);
}